
<a href={{path('CitytribeBundle_profile_edit')}}>modificate</a>
<div id="username"> Username:	{{user.username}}</div>
<div id="email"> Email:	{{user.email}}</div>
<div id="nation"> Country:	{{user.nationality}}</div>
<div id="sex">	 Gender       {{user.sex}}</div>
<div id="occupation"> Occupation:	{{user.occupation}}</div>
<div id="language"> Language:	{{user.language}}</div>
<div id="aboutMe"> About Me/Interesses:	{{user.aboutMe |striptags }}</div>
	

