<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28877518-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<head>

<!--[if IE7]>
    <script type="text/javascript">
    var script = document.createElement("script");
    script.setAttribute("type", "text/javascript");
    script.setAttribute("src", "https://getfirebug.com/firebug-lite.js#startOpened");

    var head = document.getElementsByTagName("head")[0];
    head.appendChild(script);
    </script>
<![endif]-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head_style -%}
        {% stylesheets filter='?cssembed,?yui_css'
           '@IsdevTwitterBootstrapBundle/Resources/public/bootstrap/css/bootstrap.css'
           '@IsdevTwitterBootstrapBundle/Resources/public/css/custom.css'
           '@FOSCommentBundle/Resources/assets/css/comments.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/menu.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/content.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/icon.css') }}" type="text/css" media="screen" />
        {% endstylesheets %}
    {% endblock head_style %}
    <title>{% block title %}MycityTribe -Alfa{% endblock %}</title>
    <!--<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />-->
    <link rel="icon" type="image/png" href=" {{ asset('images/favicon.png')}}" />
<script type="text/javascript" src="{{ asset('js/jquery-1.7.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-tab.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-popover.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.navigation .container li').click( function(){
        $('.navigation .container li').removeAttr('class');
        $(this).attr('class','active');
    });

    $('.tool').popover();

    
})
</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</head>
<body>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '166704423433744', // App ID
      channelUrl : '//www.mycityTribe.com', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>    
{% block body %}
    <div class="container">
	{% block container %}

        <div class="content">
			
			{% block flashes %}
                {% import 'IsdevTwitterBootstrapBundle::flash.html.twig' as flash %}
			    {{ flash.session_msg() }}
			{% endblock flashes %}

            {% block content %}
                <div class="row"></div>
            {% endblock content %}
        </div>
    {% block footer %}
        <footer class="row">
	   <p align="center"> Copyright &copy; <a href="" target="_blank">MyCityTribe </a> {{ 'now'|date('Y') }}</p>
        </footer>
    {% endblock footer %}
	{% endblock container %}
    </div>
{% endblock body %}
</body>
</html>