<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28877518-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head_style -%}
        {% stylesheets filter='?cssembed,?yui_css'
           '@IsdevTwitterBootstrapBundle/Resources/public/bootstrap/css/bootstrap.css'
           '@IsdevTwitterBootstrapBundle/Resources/public/css/custom.css'
        %}<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen" />
        {% endstylesheets %}
    {% endblock head_style %}
    <title>{% block title %}MycityTribe -Alfa{% endblock %}</title>
<!--<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />-->
    <link rel="icon" type="image/png" href=" {{ asset('images/favicon.png')}}" />
    <script>
		  function goLogIn(){
		      window.location = "{{ path('_security_check') }}";
		  }

		  function onFbInit() {
		      if (typeof(FB) != 'undefined' && FB != null ) {
		          FB.Event.subscribe('auth.statusChange', function(response) {
		              setTimeout(goLogIn, 500);
		          });
		      }
		  }
	</script>
</head>
<body>
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
{% block body %}
    <div class="container">
	{% block container %}
        {# {% block navbar %}{% include 'IsdevTwitterBootstrapBundle::navbar.html.twig' %}{% endblock navbar %} #}

        <div class="content">
			
			{% block flashes %}
                {% import 'IsdevTwitterBootstrapBundle::flash.html.twig' as flash %}
			    
			{% endblock flashes %}

            {% block content %}
            <div class="row">

            </div>
            {% endblock content %}
        </div>{# /.content #}

        <footer class="row">
	        {% block footer %}
	        <h3> Copyright &copy; <a href="" target="_blank">MyCityTribe </a> {{ 'now'|date('Y') }}</h3>
	        {% endblock footer %}
        </footer>
	{% endblock container %}
    </div>{# /.container #}
{% endblock body %}
</body>
</html>