{% extends "CitytribeBundle::default.html.twig" %}
{% block middle %}
<h3> Users Tribe List</h3>
<table class="table table-bordered table-striped user-list">
	<tbody>
	{% for user in users %}
		<tr>
			<td> <a href="" class="tool" rel="popover"  href="#" data-original-title="{{user.user.username}}" 
				data-content= " <p><strong>Country:</strong>	{{user.user.nationality|country}}</p>
				<p><strong>Gender: </strong>{{user.user.sex}} </p> <p> <strong>Occupation: </strong>	{{user.user.occupation}}</p>
				<p> <strong>Speech: </strong>	{{user.user.language}}</p>
				<p><strong>Interests: </strong>	{{ user.user.aboutMe |striptags }}</p>
				" > 
				<img class="small-img" src="{{asset('uploads/avatars/')}}{{user.user.image}}"> {{user.user.username}} </a>
			 </td>
			<td>  
				<p> <span class="badge badge-info "> {{user.numComments}}  </span>  Posts  <br /></p>
				<p><span class="badge badge-info ">{{user.numMsg}} </span> 
				<a href="{{path('blog_profile_messages', {'id': user.user.id}) }}"> 
				 Messages for all Tribes </a> </p>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

