{% extends "::Glayout.html.twig" %}
{% block content %}
<div class="content-type1">
    <div class="logo-left"> <img src="{{ asset('images/logo.png') }}"> </div>
    <div class="slogan row  ">  <h2 > <span>Felling at your own home everywhere!</span> </h2></div>

<div class="row contentbox content-map"> 
    <div id="error" class="alert alert-error">
       <p align="center">The  City is Not Available !</p> 
    </div>



{% if create  %}
    <div class="flash-notice alert alert-success">
       <h3>  <p> One more step: Just enter Your Actual City Residence ! </p> </h3>  
    </div>
<form id ="form" action="{{ path('GeoBundle_residence_create') }}" method="post" {{ form_enctype(form) }}>
{% else %}
<form id ="form" action="{{ path('GeoBundle_residence_update') }}" method="post" {{ form_enctype(form) }}>
{% endif %}
        <div class="row">
            <div class="span3 offset3 ">
                <label> <strong> City /Address : </strong>  </label>
            </div>
            <div class="span5 ">
                
                <input id="address" class="span4" type="text" autocomplete="off" onKeyPress="return event.keyCode!=13" value="{% if not create %} {{ locality.city}},{{locality.country}} {% endif %}" placeholder=" Hometown City or Address.. " />
                <button type="submit" id="submit" class=" address-btn btn btn-success btn-medium">Validate</button>
            </div>
            
        </div>
        <div class="span4">
                    
            <div>
                {{ form_label(form.country) }}
                {{ form_widget(form.country, { 'attr': {'class': 'country','readonly':'readonly'} }) }}
            </div>
            <div>
                {{ form_label(form.state) }}
                {{ form_widget(form.state, { 'attr': {'class': 'state','readonly':'readonly'} }) }}
            </div>
            <div>
                {{ form_label(form.region) }}
                {{ form_widget(form.region, { 'attr': {'class': 'region','readonly':'readonly'} }) }}
            </div>
            <div>
                {{ form_label(form.city) }}
                {{ form_widget(form.city, { 'attr': {'class': 'city','readonly':'readonly'} }) }}
            </div>
            
            {{ form_rest(form) }}           
        </div>
        <div class="span8">
            <div class="map-msg alert alert-info"> You can also move the icon on the map to select the address</div>
            <div id="map-canvas" style="width:550px; height:400px"></div><br/>
        </div>
</form>     
</div>
{% endblock %}
