{% extends "CitytribeBundle::default.html.twig" %}
{% block middle %}
		<div class="msg-btn span7">
		<a class="new-msg btn btn-large pull-right" href=" {{ path('message_new')}} "><i class="icon-comment"></i> Add New Message</a>
		</div>
		<h3> Message List of the tribe</h3>
		<div class="message">

				{% for message in messages %}
					<div class="row">
				        <div class="span2 ">{{message.author}}
				         <strong>{{ message.date|date('Y-m-d') }}</strong>
				    	</div>
				        <div class="span1"> <a href="">{{message.thread.numComments}}</a> Posts </div>
				        <div class="span3"> 
				          Last comment By: <a href=""> {{ message.thread.lastCommentAuthor}} </a>
				        </div>
			    	</div>
			        <div class="row">
			        	<div class="span2">
			        		<img class="img-msg2" src="{{ asset('uploads/avatars/') }}{{message.author.image}} ">
			        	</div>
			        	<div class="span4">
			        		<a href="{{ path('message_show', {'id': message.id}) }}">
			            		<p><div class="title-msg"> {{ message.titre }}</div></p>
			            	</a>
			        	</div>
			            
			        </div>
				{% else %}
					<ul> <li>There are no Message yet! </li> </ul>
				{% endfor %}
		</div>
			<div class="pagination"> 
		    	<ul>
		    		{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		    		{% for p in range(1, nb_pages) %}
		    			<li{% if p == page %} class="active"{% endif %}>
		    				{% if mymessages is not defined %}
		    				<a href="{{ path('Cityblog_home', {'page': p}) }}">{{ p }}</a>
		    				{% else %}
		    				<a href="{{ path('blog_profile_messages', {'page': p,'id':user.id}) }}">{{ p }}</a>
		    				{% endif %}
		    			</li>
		    		{% endfor %}
		    	</ul>
			</div>
{% endblock %}
