{% extends "CitytribeBundle::default.html.twig" %}
{% block middle %}

<div class="message">
    <div class="row">
        <div class="span3 "><img class="img-msg" src="{{ asset('uploads/avatars/') }}{{message.author.image}} ">
         <strong>{{ message.date|date('Y-m-d H:i:s') }}</strong></div>
        <div class="span1"> <a href=""> {{num}}</a> Post </div>
        <div class="span2">
        {% if message.author ==user.username %} 
            <a href="{{ path('message_edit', { 'id': message.id }) }}"> <i class="icon-edit"></i>  Edit Message </a>
        {% endif %}    
        </div>
    </div>
        <div class="">
            <p><div class="title-msg"> Title: <strong>{{ message.titre }} </strong> </div></p>
            <p><div class="content-msg"> {{ message.contenu }}</div></p>
        </div>
</div>

<div class="fb-like" data-href="http://mycitytribe.com" data-send="false" data-layout="box_count" data-width="100" data-show-faces="false" data-font="verdana"></div>
<g:plusone size="tall"></g:plusone>

<div class="comments">
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': message.thread.id} %}
</div>
{% endblock %}

